This dataset consists of 101 animals from a zoo.
There are 16 variables with various traits to describe the animals.

#### The 7 Class Types are: 
    
        Mammal, 
        Bird, 
        Reptile, 
        Fish, 
        Amphibian, 
        Bug,
        Invertebrate

The purpose for this dataset is to be able to predict the classification of the animals, based upon the variables.

In [1]:
from sklearn import svm
import pandas as pd
import math

In [2]:
df = pd.read_csv('data/zoo.csv')
df.head(5)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

Do not need to preprocess the data scikit-learn can do many tasks in one function.  Called train test split, takes care of training and test data for our labels.  Use 25% of the data for the test and 75% for training.

In [3]:
def preprocess(df):
    X = df.iloc[:, 1:17]  # all rows, all the features and no labels
    y = df.iloc[:, 17]  # all rows, label only

    return X, y

In [4]:
from sklearn.model_selection import train_test_split

all_X, all_y = preprocess(df)
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

In [5]:
# Shuffle and split the dataset
# We don't need to use this any more, thanks to scikit-learn!

df = df.sample(frac=1).reset_index(drop=True)
df_total_len = df[df.columns[0]].size

df_train_frac = 0.9
split_index = math.floor(df_total_len * df_train_frac)

train_df = df.iloc[:split_index]
eval_df = df.iloc[split_index:]

In [6]:
from sklearn.model_selection import train_test_split

all_X, all_y = preprocess(df)
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y)

In [7]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(75, 16) (26, 16) (75,) (26,)

In [8]:
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC()

In [9]:
clf.score(X_test, y_test)

0.8461538461538461

In [10]:
clf.predict(X_test[15:25])

array([1, 1, 1, 7, 2, 1, 4, 1, 1, 2])

In [11]:
# Show what the correct answer is
y_test[10:15]

49    2
89    4
41    1
70    5
34    2
Name: class_type, dtype: int64